APP_ENV=production
APP_DEBUG=false
APP_KEY=base64:___YOUR__KEY___
APP_TIMEZONE=UTC

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=30dni
DB_USERNAME=root
DB_PASSWORD=mysqluser
#DB_SOCKET_PATH=/var/run/mysqld/mysqld.sock

CACHE_DRIVER=file
QUEUE_DRIVER=sync

SLACK_INCOMING_HOOK_URL=https://hooks.slack.com/services/.....
SLACK_INCOMING_USERNAME=bot
SLACK_CHANNEL=#general
SLACK_QUESTION="What is your daily target, @steve ? Any help needed?"

